* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.row {
    margin-right: 0;
}

.navbar {
    background-image: linear-gradient(90deg, #54006b, #cc123d);
}

.navbar-collapse {
    flex-grow: 0;
}

.bg-section-1 {
    padding-left: 100px;
    height: 600px;
}

.bg-section-1 h1 {
    font-size: 32px;
    color: rgb(202, 48, 64);
    font-weight: 350;
    letter-spacing: 1px;
}

.text-pink {
    color: #54006b;
}

.video-img {
    position: absolute;
    z-index: 2;
    left: 20%;
    top: 9.5%;
}

.bg-blog1 {
    background-image: url('images/bg-blog.avif');
    background-position: center;
    background-size: cover;
    height: 300px;
}

.bg-blog2 .card-img {
    height: 200px;
    overflow: hidden;
}

.bg-blog2 .card-img img {
    height: 100%;
}

.card {
    border: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .15);
}

/* company */
.bg-comp-1 {
    background-image: url('images/bg-img-comp.jpg');
    background-position: center;
    background-size: cover;
}
.bg-comp-1 h1{
    font-weight: 800;
}

.bg-comp-1 .img-1 {
    position: relative;
    z-index: 2;
}

.square-1 {
    border: 26px solid #54006b;
    width: 300px;
    height: 550px;
    right: 18%;
    position: absolute;
    bottom: 100px;
    z-index: 1;
    left: auto;
    animation: bounce 1s linear infinite alternate-reverse both;
}

.square-2 {
    border: 26px solid #cc123d;
    width: 300px;
    height: 550px;
    right: 12%;
    position: absolute;
    bottom: 60px;
    z-index: 1;
    left: auto;
    animation: bounce2 1.5s linear infinite alternate-reverse both;
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce2 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.comp-section2 .owl-nav button span{
    font-size: 40px !important;
    margin: 0px 20px;
}
.comp-section2 .owl-dots{
    display: none !important;
}
.overlay{
    position: absolute;
    z-index: 1;
    margin-top: -60px;
}
.m-view{
    display: none;
}

@media screen and (max-width: 600px) {
    .bg-section-1 {
        background-image: none;
        padding-left: 0;
        height: fit-content;
    }

    .registration-content {
        overflow: hidden;

        max-width: auto;
    }

    .padding-m {
        padding-left: 0;
    }

    .padding-l {
        padding-left: 30px !important;
    }

    .contact-area {
        padding-left: 10px;
    }

    .contact-area .mt-5 {
        margin-top: 0 !important;
    }

    .contact-area .pt-5 {
        padding-top: 20px !important;
    }

    .m-none {
        display: none !important;
    }

    .video-img {
        top: 8.7%;
        left: 38%;
        width: 80px;
    }

    .navbar-brand img {
        width: 150px;
    }

    .ta-c {
        text-align: center;
    }

    .pe-5 {
        padding-right: 0 !important;
    }

    .registration_form .pt-5 {
        padding-top: 20px !important;
    }

    .registration_form .mt-5 {
        margin-top: 0 !important;
    }

    .registration_form h3 {
        font-size: 18px !important;
    }

    h1 {
        padding: 0px;
    }
    img{
        width: 100px;
    }
    .bg-comp-1 img{
        width: 100%;
    }
    .row{
        --bs-gutter-x: 0;
    }
    .m-view{
        display: block;
    }
}
@media (min-width: 601px) and (max-width: 920px){
    .m-none{
        display: none !important;
    }
    .m-view{
        display: block;
    }
}